.login-vbox {
    -fx-background-color: #FFE0E9;
    -fx-padding: 30px;
    -fx-border-radius: 0 0 15px 15px;
    -fx-background-radius: 0 0 15px 15px;
}

.login-label {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #ff6b81;
}

.email-field, .password-field {
    -fx-pref-width: 300px;
    -fx-pref-height: 35px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #FF6B81;
    -fx-padding: 5px;
}

.login-button, .register-button {
    -fx-background-color: #FF6B81;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-pref-width: 140px;
    -fx-pref-height: 35px;
}
