.user-profile-vbox {
    -fx-background-color: linear-gradient(to bottom, #FFE0E9, #F690A6);
    -fx-padding: 30px;
    -fx-border-radius: 0 0 10px 10px;
    -fx-background-radius: 0 0 10px 10px;
}

.my-account-label {
    --block-font-family: 'Verdana';
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #e36486;
}

.profile-image {
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-effect: dropshadow(gaussian, rgba(246,144,166,0.8), 2, 0.5, 1.5, 1.5);

}

.name-label, .role-label{
    --block-font-family: 'Verdana';
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #e36486;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #FFE0E9;
}

.social-number-label {
    --block-font-family: 'Verdana';
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #e36486;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #FFE0E9;
}

.logout-button {
    -fx-background-color: #e36486;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-pref-width: 140px;
    -fx-pref-height: 35px;
    -fx-effect: dropshadow(gaussian, rgba(246,144,166,0.8), 2, 0.5, 1.5, 1.5);

}
