.settings-page {
    -fx-background-color: #FFE0E9;
}

.settings-label {
    --block-font-family: 'Verdana';
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #e36486;
}

.language-label{
    --block-font-family: 'Verdana';
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #e36486;
}

.grid-pane {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #e36486;
    -fx-padding: 5px;
}
