.timetable {
    -fx-background-color: #FFE0E9;
}

.date-label, .week-placeholder {
    -fx-text-fill: #e36486;
}

.teaching-session-label {
    -fx-background-color: #77C3EC;
}

.assignment-label {
    -fx-background-color: #FCBE85;
}

.time-label {
    -fx-background-color: #f4f4f4;
}